{{#if login.customer}}
  {{#if addCreditCard}}
    <div>
      <h5>Please enter your card details</h5>
      <form>

        <div class="form-group">
          {{input value=fullname id="fullname" placeholder = 'Full Name'}}
        </div>

        <div class="form-group">
          {{input value=number id="number" placeholder = 'Credit Card number'}}
        </div>

        <div class="form-group">
          {{input value=date id="date" placeholder = 'Expiry date'}}
        </div>

        <div class="form-group">
          {{input value=security id="security" placeholder = 'CVV'}}
        </div>

        <button {{action 'saveCard' login.person}} class="btn btn-success">Proceed to Payment</button>
      </form>
    </div>
  {{else}}
    <h4>Thank you for your payment</h4> <br><br><br>
    {{#link-to 'customer' login.userId }}Return to your profile page{{/link-to}}
  {{/if}}
{{/if}}
