<div class='container'>
  <form>
     <p>{{input type="number" value=barcode id='barcode'}}</p><br />
    <button class='btn' {{action 'getBarcode'}}>Get Product</button>
  </form>

  <div class='container text-center col-xs-4 product-list thumbnail'>
    {{findProduct.display.name}}
    <img src='{{findProduct.display.image}}' />
    $ {{findProduct.display.price}}
    <button class='btn-success'>Add to Cart</button>
  </div>
</div>
