<div class="container display-map">
  <!-- <button {{action 'showMap'}} class="btn btn-success">Show Map</button> -->
  <div id="floating-panel">
    <form {{action "geocodeAddress" on="submit"}}>
      {{input value=address type="text" placeholder="(option)location"}}
      <button  class="btn btn-primary">Find</button>
      <button {{action 'myLocation'}} class="btn btn-primary glyphicon glyphicon-screenshot"></button>
    </form>
  </div>
  <div id="the-map"></div>
  <div id="output">
    <button {{action "getClosestShops" shops}} class="btn btn-success">Get Closest Shops</button>
    {{#each map.fifty_meter_shops as |fifty_meter_shop|}}
      {{fifty_meter_shop.shopname}}
    {{/each}}
  </div>
</div>
