<div class="container display-map thumbnail">
  <div id="output" class='col-sm-6 blackFont text-center'>
    <div class="closestShop">
      <h4>Store Available Nearby:</h4>
      {{#each map.fifty_meter_shops as |fifty_meter_shop|}}
        {{#link-to 'customer-index' fifty_meter_shop.id}}<button class="btn btn-primary storeSelect">{{fifty_meter_shop.shopname}}</button>{{/link-to}}
      {{/each}}
    </div>
    <!-- <div class="walkShop">
      <h4>Stores within 1 km</h4>
      {{#each map.kilo_meter_shops as |kilo_meter_shop|}}
        {{#link-to 'customer-index' kilo_meter_shop.id}}<button class="btn btn-primary storeSelect">{{kilo_meter_shop.shopname}}</button>{{/link-to}}
      {{/each}}
    </div> -->
  </div>

  <div id="floating-panel" class='col-sm-6'>
    <form class='blackFont'{{action "geocodeAddress" on="submit"}}>
      {{input value=address type="text" placeholder="(option)location"}}
      <button  class="btn btn-primary">Find</button>
      <button {{action 'myLocation'}} class="btn btn-primary glyphicon glyphicon-screenshot"></button>
    </form>
    <div id="the-map" class='blackFont'></div>
  </div>
</div>
