{{#if login.customer}}
  <div class='container displayProduct'>
    <form>
       <p>{{input type="number" value=barcode id='barcode'}}</p><br />
      <button class='btn' {{action 'getBarcode' params}}>Get Product</button>
    </form>
    {{#if findProduct.isShowingModal}}
      {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
        <div class='text-center displayProduct'>
          {{findProduct.display.name}}<br />
          {{findProduct.display.brand}}<br />
          <img class='display' src="{{findProduct.display.image}}"/><br />
          ${{findProduct.display.price}}<br />
          <button class='btn-success'{{action 'addToCart' findProduct.display}}>Add to Cart</button>
        </div>
        <div>
          {{#each priceComparison.tempProducts as |product|}}
            {{product}}
          {{/each}}
        </div>
      {{/modal-dialog}}
    {{/if}}

    {{#if findProduct.notFound}}
      {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
          <div class='text-center'>
            <p>
              Barcode Not Found in this store. Please Try Again.
            </p>
            <button class='btn'{{action "toggleModal"}}>Close</button>
          </div>
      {{/modal-dialog}}
    {{/if}}
  </div>
{{/if}}
