{{#if login.customer}}
  <div class='container displayProduct'>
    <div class='container text-center findProduct col-xs-7'>
      <form style='font-size: 30px'>
        <p>{{input type="number" value=barcode id='barcode' placeholder='Barcode'}}</p>
        <button class='btn findProductBtn' {{action 'getBarcode' params}}>Get Product</button>
      </form>
    </div>


    {{#if findProduct.isShowingModal}}
      {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
        <div class='text-center displayProduct'>
          <h3>{{findProduct.display.name}}</h3><br />
          <h4>{{findProduct.display.brand}}</h4>
          <img class='display' src="{{findProduct.display.image}}"/><
          <h4>${{findProduct.display.price}}</h4><br />
          <button class='btn'{{action 'addToCart' findProduct.display}}>Add to Cart</button>
        </div>
        <div>
          {{#each priceComparison.tempProducts as |product|}}
            {{product}}
          {{/each}}
        </div>
      {{/modal-dialog}}
    {{/if}}

    {{#if findProduct.notFound}}
      {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
          <div class='text-center blackFont'>
            <p>
              Barcode Not Found in this store. Please Try Again.
            </p>
            <button class='btn'{{action "toggleModal"}}>Close</button>
          </div>
      {{/modal-dialog}}
    {{/if}}
  </div>
{{/if}}
