<div class="container display-map">
  <!-- <button {{action 'showMap'}} class="btn btn-success">Show Map</button> -->
  <div id="floating-panel">
    <form {{action "geocodeAddress" on="submit"}}>
      {{input value=address type="text" placeholder="(option)location"}}
      <button  class="btn btn-primary">Find</button>
      <button {{action 'myLocation'}} class="btn btn-primary glyphicon glyphicon-screenshot"></button>
    </form>
  </div>
  <div id="the-map"></div>
  <div>
    <button {{action "getDistance"}} class="btn btn-success">Get Distance</button>
    <strong>Results</strong>
  </div>
  <div id="output">
    {{#each results as |result|}}
      {{result}}
    {{/each}}
  </div>
</div>
