{{#if login.seller}}

  <div id="img_tile"><img src={{product.image}} alt={{product.title}}></div>
  <div id="prod_info">
    <h4>{{product.name}}</h4>
    <h4>HKD {{product.price}}</h4>
  </div>

  {{update-product product=product update="update"}}

  <button {{action 'destroyProduct' product}} class="btn btn-danger">Delete Product</button>
  <br>
{{/if}}
