{{customer-detail customer=model.customer}}

{{update-customer customer=model.customer update="update"}}

<div class="container">
  {{#each customerMatching as |sale|}}
    {{sale-tile sale=sale}}
  {{/each}}
  <div class="row">
    <div class="col-xs-4 col-xs-offset-8 title">
      <span class="total_title"> Total Sales: </span> <span class="total_number">${{total-sales customerMatching}}</span>
    </div>
  </div>
</div>

{{redirect-tool}}
