{{store-navbar}}
<div class="container">
  {{shop-info shop=model.shop}}
  {{update-shop shop=model.shop update="update"}}

  {{#each model.shop.products as |product|}}
    {{product-tile product=product}}
  {{/each}}

  {{new-product shop=model.shop saveProduct="saveProduct"}}
</div>

{{redirect-tool}}
