{{store-navbar}}

<<<<<<< HEAD
<div class="container">
  {{shop-info shop=model.shop}}
=======
{{shop-info shop=shop}}
{{store-navbar}}
>>>>>>> gabriel

  {{#each model.shop.products as |product|}}
    {{product-tile product=product}}
  {{/each}}

  {{new-product shop=model.shop saveProduct="saveProduct"}}
</div>
