{{store-navbar}}
<div class="container thumbnail blackFont">
  {{shop-info shop=model.shop}}
  {{update-shop shop=model.shop update="update"}}

  <br><br>


    {{#each model.shop.products as |product|}}
        <div id="tile">{{product-tile product=product}}</div>
    {{/each}}


  {{new-product shop=model.shop saveProduct="saveProduct"}}
</div>

{{redirect-tool}}

<br><br><br><br>
